name: 'Update Website'

on:
  workflow_dispatch:
  schedule:
    - cron: '2 3/4 * * *'

jobs:
  update:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Setup
        run: yarn

      - name: Build
        run: node index.js

      - name: Commit and push
        run: |
          git config --global user.name 'Update Website'
          git config --global user.email '$GITHUB_ACTOR@users.noreply.github.com'
          git add docs/index.html docs/screenshot.png
          git commit -m "Update website"
          git push origin main